@keyframes silence{
	0%{
		opacity: 1
	}

	100%{
		opacity: 0
	}
}
.background{
	width: 1200px;
	height: 800px;
	display: flex;
	position: absolute;
	z-index: 2;
}
.box{
	width: 60px;
	height: 800px;
	background-color: black;
	animation: silence;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	animation-play-state: paused;
}
.box:hover{
	animation-play-state: running;
}
.back{
	width: 1200px;
	height: 800px;
	position: absolute;
	z-index: 1;
}
